<div class="cws-devtools-toolbar" data-cws-devtools-toolbar>
    <button class="cws-devtools-toolbar__item"
            type="button"
            data-cws-devtools-action="cache-clear"
            title="Clear cache (ALT + C)"
            aria-label="Clear cache (ALT + C)">
        <span class="cws-devtools-toolbar__icon" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M7 4.5h10v2H7v-2Zm-2 4h14v10.5A2.5 2.5 0 0 1 16.5 21h-9A2.5 2.5 0 0 1 5 19V8.5Zm4 2V18h1.5v-7.5H9Zm4.5 0V18H15v-7.5h-1.5Z"></path>
            </svg>
        </span>
    </button>

    <button class="cws-devtools-toolbar__item"
            type="button"
            data-cws-devtools-action="theme-compile"
            title="Compile themes (ALT + T)"
            aria-label="Compile themes (ALT + T)">
        <span class="cws-devtools-toolbar__icon" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="m3 7 9-4 9 4-9 4-9-4Zm2 3.3 7 3.1v7.1l-7-3.1v-7.1Zm9 10.2v-7.1l7-3.1v7.1l-7 3.1Z"></path>
            </svg>
        </span>
    </button>

    <a class="cws-devtools-toolbar__item"
       href="/admin#/cws/development-tools/index"
       target="_blank"
       rel="noopener noreferrer"
       title="Open CWS Development Tools"
       aria-label="Open CWS Development Tools">
        <span class="cws-devtools-toolbar__icon" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M12 8.4a3.6 3.6 0 1 0 0 7.2 3.6 3.6 0 0 0 0-7.2Zm9.1 2.8-1.9-.3a7.7 7.7 0 0 0-.8-1.8l1.1-1.6a.9.9 0 0 0-.1-1.2l-1.7-1.7a.9.9 0 0 0-1.2-.1l-1.6 1.1a7.7 7.7 0 0 0-1.8-.8l-.3-1.9a.9.9 0 0 0-.9-.7h-2.4a.9.9 0 0 0-.9.7l-.3 1.9a7.7 7.7 0 0 0-1.8.8L6.3 4.5a.9.9 0 0 0-1.2.1L3.4 6.3a.9.9 0 0 0-.1 1.2l1.1 1.6a7.7 7.7 0 0 0-.8 1.8l-1.9.3a.9.9 0 0 0-.7.9v2.4c0 .4.3.8.7.9l1.9.3c.2.6.5 1.2.8 1.8l-1.1 1.6a.9.9 0 0 0 .1 1.2l1.7 1.7c.3.3.8.3 1.2.1l1.6-1.1c.6.3 1.2.6 1.8.8l.3 1.9c.1.4.5.7.9.7h2.4c.4 0 .8-.3.9-.7l.3-1.9c.6-.2 1.2-.5 1.8-.8l1.6 1.1c.4.2.9.2 1.2-.1l1.7-1.7a.9.9 0 0 0 .1-1.2l-1.1-1.6c.3-.6.6-1.2.8-1.8l1.9-.3c.4-.1.7-.5.7-.9v-2.4a.9.9 0 0 0-.7-.9Z"></path>
            </svg>
        </span>
    </a>

    <a class="cws-devtools-toolbar__item"
       href="/admin#/cws/development-tools/documentation"
       target="_blank"
       rel="noopener noreferrer"
       title="Open Development Tools Documentation"
       aria-label="Open Development Tools Documentation">
        <span class="cws-devtools-toolbar__icon" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M6 3h9l5 5v13a1 1 0 0 1-1 1H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2Zm8 1.5V9h4.5L14 4.5ZM8 12h8v1.5H8V12Zm0 3h8v1.5H8V15Zm0-6h4v1.5H8V9Z"></path>
            </svg>
        </span>
    </a>

    <a class="cws-devtools-toolbar__item"
       href="/admin#/sw/settings/cache/index"
       target="_blank"
       rel="noopener noreferrer"
       title="Open Cache Settings"
       aria-label="Open Cache Settings">
        <span class="cws-devtools-toolbar__icon" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M12 2 3 6.5V12c0 5 3.6 9.6 9 10 5.4-.4 9-5 9-10V6.5L12 2Zm0 2.1 6.8 3.4v4.4c0 3.9-2.6 7.7-6.8 8.4-4.2-.7-6.8-4.5-6.8-8.4V7.5L12 4.1Zm-3.2 7.2h6.4v1.5H8.8v-1.5Zm0 3h6.4v1.5H8.8v-1.5Zm0-6h6.4v1.5H8.8V8.3Z"></path>
            </svg>
        </span>
    </a>

    <button class="cws-devtools-toolbar__item"
            type="button"
            data-cws-devtools-action="reload"
            title="Reload storefront"
            aria-label="Reload storefront">
        <span class="cws-devtools-toolbar__icon" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M12 4a8 8 0 0 1 7.8 6h-2.2A6 6 0 1 0 18 13h2a8 8 0 1 1-8-9Zm4.8.2V8H13V6h2.2A6.6 6.6 0 0 0 12 5c-1 0-2 .2-2.8.7L8.2 4A8.5 8.5 0 0 1 12 3c1.9 0 3.6.6 5 1.2Z"></path>
            </svg>
        </span>
    </button>

    <div class="cws-devtools-toolbar__modal-backdrop is-hidden" data-cws-devtools-modal-backdrop>
        <div class="cws-devtools-toolbar__modal" role="dialog" aria-modal="true" aria-labelledby="cws-devtools-modal-title">
            <h4 id="cws-devtools-modal-title" class="cws-devtools-toolbar__modal-title">Confirm action</h4>
            <p class="cws-devtools-toolbar__modal-text" data-cws-devtools-modal-text>
                Do you want to continue?
            </p>
            <div class="cws-devtools-toolbar__modal-actions">
                <button class="btn btn-light btn-sm" type="button" data-cws-devtools-modal-cancel>
                    Cancel
                </button>
                <button class="btn btn-primary btn-sm" type="button" data-cws-devtools-modal-accept>
                    Accept
                </button>
            </div>
        </div>
    </div>
</div>
