<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Storefront toolbar</title>
        <title lang="de-DE">Storefront-Toolbar</title>

        <input-field type="bool">
            <name>StorefrontToolbarVisible</name>
            <label>Show storefront toolbar</label>
            <label lang="de-DE">Storefront-Toolbar anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
