<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Development Tools</title>
        <title lang="de-DE">Entwicklungswerkzeuge</title>

        <input-field type="url">
            <name>MediaUrlResolverHostReplace</name>
            <label>Media URL Resolver Host Replace</label>
            <label lang="de-DE">Media URL Resolver Host Ersetzen</label>
        </input-field>
       
    </card>

</config>
